<div class="menu main flex">
  <p class='option' id='newProject'>New</p>
  <div class="dropdown">
    <p>Import</p>
    <div class="content">
      <p class='option' id='importProject'>Import - Project</p>
      <p class='option' id='importAse'>Import - Aseprite</p>
    </div>
  </div>
  <p class='option' id="exportPrjoect">Export</p>
</div>
