<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>jsFrameLogic</title>
    <script type="text/javascript" src='/jquery'></script>
    <script type="module" src='/app/js/editor.js'></script>
    <link rel="stylesheet" href='/app/css/reset.css'/>
    <link rel="stylesheet" href="/app/css/main.css">
    <link rel="stylesheet" href="/app/css/editor.css">
  </head>
  <body class='flex col'>
    <div class="flex tabs">
      <p>Frames</p>
      <p>Animations</p>
    </div>
    {{{body}}}
  </body>
</html>
