<div class="flex grow">

  <div class="grow flex">
    <section class="grow flex col" id="workspace">
      <h1>Workspace</h1>
      <div class="content grow" id='editor'>
      </div>
    </section>
  </div>

  <div class="frames flex col ipane">
    <h1>Sprite Frames</h1>
    <div class="content">

    </div>
  </div>

  <div class="frame interface ipane">
    <h1>Interface</h1>
    <section>
      <h1>Draw Tools</h1>
      <div class="content">
        <p>Body Box</p>
        <p>Hit Box</p>
        <p>Hurt Box</p>
      </div>
    </section>
    <section>
      <h1>Boxes</h1>
      <div class="content">

      </div>
    </section>
  </div>

</div>
