<form class="prompt" autocomplete="off" id='iase'>

  <h1>Import Aseprite</h1>

  <label for="imageFile">Image</label>
  <input type="file" name="imageFile" value="" required>

  <label for="jsonFile">Ase JSON File</label>
  <input type="file" name="jsonFile" value="" required>

  <button type="submit" name="button">Submit</button>

</form>
