<form class="prompt" autocomplete="off" id='iproject'>

  <h1>Import Project</h1>

  <label for="imageFile">Image</label>
  <input type="file" name="imageFile" value="" required>

  <label for="imageFile">JSON File</label>
  <input type="file" name="imageFile" value="" required>

  <button type="submit" name="button">Submit</button>

</form>
