<form class="prompt" autocomplete="off">

  <h1>New Project</h1>

  <label for="imageFile">Image</label>
  <input type="file" name="imageFile" value="" required>

  <div class="flex margined">
    <input type="text" name="width" value="" required pattern="[0-9]{1,4}" placeholder="Width">
    <input type="text" name="height" value="" required pattern="[0-9]{1,4}" placeholder="Height">
  </div>


  <button type="submit" name="button">Submit</button>

</form>
